{% extends base_template %}

{% block title %}
Apparition studies by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header('Apparition Studies') }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}
  <div class="row">
    <div class="small-12 columns">

      <h2>About</h2>

      <p>The apparitions began in 2011 as abstract circular oil paintings on acrylic and glass disc and since then have developed through a series of studies involving a variety of media and contexts. Their abstract yet painterly nature serves as an ideal Petri dish for wide ranging examinations into the perception and effects of art.</p>

      <ul class="nodecoration">
        <li><a href="#imagereactionstudies">Image Reaction Studies</a></li>
        <li><a href="#placereactionstudies">Place Reaction Studies</a></li>
        <li><a href="#tastestudies">Taste Studies</a></li>
      </ul>

      <p>For information on obtaining an apparition study piece, see <a href="{{ root_path }}acquire/index.html">acquiring works</a>.</p>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2 id="imagereactionstudies">Image Reaction Studies</h2>
      <p>The studies examine how overlaying abstract geometric circular `apparitions' over pre-existing images can imbue the apparitions with meaning and even purpose, thereby affecting the mood of the underlying image.</p>
    </div>
  </div>

  <div class="mfp-hide" id="earlycrimson-slideshow">
    {{ macros.slide('Early Crimson 1', root_path + 'img/earlycrimson/1.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Early Crimson 2', root_path + 'img/earlycrimson/2.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Early Crimson 3', root_path + 'img/earlycrimson/3.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Early Crimson 4', root_path + 'img/earlycrimson/4.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Early Crimson 5', root_path + 'img/earlycrimson/5.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Early Crimson 6', root_path + 'img/earlycrimson/6.jpg', '2011', 'Oil on print') }}
  </div>

  <div class="mfp-hide" id="excuse-slideshow">
    {{ macros.slide('Excuse 1', root_path + 'img/excuse/1.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Excuse 2', root_path + 'img/excuse/2.jpg', '2011', 'Oil on print', width='narrow') }}
    {{ macros.slide('Excuse 3', root_path + 'img/excuse/3.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Excuse 4', root_path + 'img/excuse/4.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Excuse 5', root_path + 'img/excuse/5.jpg', '2011', 'Oil on print', width='narrow') }}
    {{ macros.slide('Excuse 6', root_path + 'img/excuse/6.jpg', '2011', 'Oil on print') }}
    {{ macros.slide('Excuse 6 Framed', root_path + 'img/excuse/7.jpg', '2011', 'Oil on print') }}
  </div>

  <div class="mfp-hide" id="onsecondglance-slideshow">
    {{ macros.slide('On Second Glance 1', root_path + 'img/onsecondglance/1.jpg', '2012', 'Oil on print') }}
    {{ macros.slide('On Second Glance 2', root_path + 'img/onsecondglance/2.jpg', '2012', 'Oil on print', width='narrow') }}
    {{ macros.slide('On Second Glance 3', root_path + 'img/onsecondglance/3.jpg', '2012', 'Oil on print', width='narrow') }}
    {{ macros.slide('On Second Glance 4', root_path + 'img/onsecondglance/4.jpg', '2012', 'Oil on print', width='narrow') }}
    {{ macros.slide('On Second Glance 5', root_path + 'img/onsecondglance/5.jpg', '2012', 'Oil on print', width='narrow') }}
    {{ macros.slide('On Second Glance 6', root_path + 'img/onsecondglance/6.jpg', '2012', 'Oil on print') }}
    {{ macros.slide('On Second Glance 7', root_path + 'img/onsecondglance/7.jpg', '2012', 'Oil on print') }}
    {{ macros.slide('On Second Glance 8', root_path + 'img/onsecondglance/8.jpg', '2012', 'Oil on print', width='narrow') }}
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/apparitions_excuse_btn.jpg",
          url="#excuse-slideshow",
          title="Excuse",
          is_slideshow=True) %}
          Apparitions on PlayBoy pin-ups.
      {% endcall %}
    </div>
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/apparitions_onsecondglance_btn.jpg",
          url="#onsecondglance-slideshow",
          title="On Second Glance",
          is_slideshow=True) %}
          Apparitions on 6&times;4&quot; images from the past.
      {% endcall %}
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/apparitions_earlycrimson_btn.jpg", 
          url="#earlycrimson-slideshow", 
          title="Early Crimson", 
          is_slideshow=True) %}
          Commissioned apparitions on a selection of images chosen by the patron.
      {% endcall %}
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2 id="placereactionstudies">Place Reaction Studies</h2>
      <p>Similar to the Image Reaction Studies, Place Reaction Studies explores how a space can be editorialised by simple abstract apparitions on glass discs.</p>
    </div>
  </div>

  <div class="mfp-hide" id="uweinstallation-slideshow">
    {{ macros.slide('UWE Installation', root_path + 'img/uweinstallation/1.jpg', '2011', 'Oil on glass') }}
    {{ macros.slide('UWE Installation', root_path + 'img/uweinstallation/2.jpg', '2011', 'Oil on glass') }}
    {{ macros.slide('UWE Installation', root_path + 'img/uweinstallation/3.jpg', '2011', 'Oil on glass') }}
  </div>
  
  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/apparitions_placereactionstudies_btn.jpg",
        url="#uweinstallation-slideshow",
        title='Place Reaction Studies',
        is_slideshow=True) %}
        An early installation commissioned by U.W.E.
      {% endcall %}
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2 id="tastestudies">Taste Studies</h2>
      <p>The apparitions are presented in their most abstract form to determine preference in colour palette and composition. Pieces are judged based on sales on popular auction sites such as eBay.</p>
      <p>The Taste Studies are currently active, to find out when the next round of bidding happens subscribe to the <a href="http://www.facebook.com/MatthewRoyArnold">news page on Facebook</a>.</p>
    </div>
  </div>

  <div class="mfp-hide" id="exampletaste-slideshow">
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/1.jpg', '2013', 'Oil on glass') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/2.jpg', '2013', 'Oil on glass', width='narrow') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/3.jpg', '2013', 'Oil on glass') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/4.jpg', '2013', 'Oil on glass', width='narrow') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/5.jpg', '2013', 'Oil on glass') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/6.jpg', '2013', 'Oil on glass') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/7.jpg', '2013', 'Oil on glass') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/8.jpg', '2013', 'Oil on glass', width='narrow') }}
    {{ macros.slide('Untitled', root_path + 'img/exampletaste/9.jpg', '2013', 'Oil on glass') }}
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path+"img/apparitions_tastestudies_btn.jpg",
          url="#exampletaste-slideshow",
          title="Example Taste Study pieces",
          is_slideshow=True) %}
          Example Taste Study pieces.
      {% endcall %}
    </div>
  </div>
  
{% endblock %}


