{% extends base_template %}

{% block title %}
Works by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Works', type='Index', root_path=root_path) }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

  <div class="row">
    <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + "img/works_spinstudies_btn.jpg",
            url=root_path + "works/spins.html",
            title="Spin Studies",
            caption='The spin studies comprise of the <a href="' + root_path + 'works/imagereactionstudies.html">Image Reaction Studies</a>, the <a href="' + root_path + 'works/placereactionstudies.html">Place Reaction Studies</a> and the <a href="' + root_path + 'works/tastestudies.html">Taste Studies</a> each of which expand on the leitmotif of a simple geometric spin pattern.') }}
    </div>
    <div class="small-12 large-6 columns">    
      {{ macros.captioned_img(src=root_path + 'img/works_spaceforsale_btn.jpg',
            url=root_path + 'exhibitions/spaceforsale.html',
            title="Art Space for Sale",
            caption="A write up of the Art Space for Sale event which explored the conflict of commerca and artistic integrety in art.") }}
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + 'img/works_selfportraits_btn.jpg',
            url=root_path + 'exhibitions/work.html',
            title="Outsourced Self Portraits",
            caption="Many artists no longer fabricate their own works, with the emphasis in these cases ostensibly being on the concept. Exhibited in the `Work' show, these works explore how the nature of the work may be affected by outsourcing practices." ) }}
    </div>

    <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + 'img/works_ideasforsale_btn.jpg',
            url=root_path + 'exhibitions/work.html',
            title='Art Ideas for Sale',
            caption="Modern art practice is called into question when we consider through these works if concept too can be outsourced. Links to the write up of the `Work' event." ) }}
    </div>
  </div>

  <div class="mfp-hide" id="lostandstolen-slideshow">
    {{ macros.slide('Lost and Stolen - Arnold Brothers', root_path + 'img/lostandstolen/1.jpg', date='2010 - ongoing', media='Oil on canvas',
      copy="<p>A continuing project to document the items that have been lost and/or stolen from the Arnold brothers.</p>") }}
  </div>


  <div class="row">
    <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + 'img/works_lostandstolen_btn.jpg',
            url='#lostandstolen-slideshow',
            title='Lost and Stolen',
            is_slideshow=True,
            caption='A continuously updated document of the things that have gone missing throughout a particular persons life.' ) }}
    </div>

    <div class="mfp-hide" id="interactionstudies-slideshow">
      {{ macros.slide('Interaction Studies - Lion &amp; Octopus in battle', root_path + 'img/interactionstudies/1.jpg', '', '2013', 'Mixed media') }}
      {{ macros.slide('Interaction Studies - Lion &amp; Octopus in battle', root_path + 'img/interactionstudies/2.jpg', '', '2013', 'Mixed media') }}
      {{ macros.slide('Interaction Studies - Dodo &amp; bat', root_path + 'img/interactionstudies/3.jpg', '', '2013', 'Mixed media') }}
      {{ macros.slide('Interaction Studies - Dodo &amp; bat', root_path + 'img/interactionstudies/4.jpg', '', '2013', 'Mixed media') }}
    </div>

    <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + 'img/works_interactions_btn.jpg',
            url='#interactionstudies-slideshow',
            title='Interaction Studies',
            is_slideshow=True,
            caption='Studies into using art to explore scenarios that other mediums cannot capture, in particular the impossible meeting of incongruous subjects.' ) }}
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + 'img/works_misc_btn.jpg',
            url=root_path + 'works/misc.html',
            title='Misc. Works',
            caption="Other individual works my Matthew Roy Arnold including the 'Sistine Table' and 'PCS10-The Good Shepherd'." ) }}
    </div>
  </div>
{% endblock %}

