{% extends base_template %}

{% block title %}
Works by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Works') }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

  <div class="mfp-hide" id="artspaceforsale-slideshow">
    {{ macros.slide('DeWalt', root_path + 'img/artspaceforsale/1.jpg', '2010', 'Bronze cast', width='narrow') }}
    {{ macros.slide('Placeholder canvas', root_path + 'img/artspaceforsale/2.jpg', '2010', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Winsor &amp; Newton', root_path + 'img/artspaceforsale/3.jpg', '2010', 'Oil on cavas') }}
    {{ macros.slide('Milk Stout', root_path + 'img/artspaceforsale/4.jpg', '2010', 'Oil on cavas') }}
    {{ macros.slide('Sunrise', root_path + 'img/artspaceforsale/5.jpg', '2010', 'Oil on cavas') }}
    {{ macros.slide('No. 7', root_path + 'img/artspaceforsale/6.jpg', '2010', 'Oil on cavas') }}
    {{ macros.slide('Magna', root_path + 'img/artspaceforsale/7.jpg', '2010', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Bristol Drawing School', root_path + 'img/artspaceforsale/8.jpg', '2010', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Bristol Ferries', root_path + 'img/artspaceforsale/9.jpg', '2010', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Bristol Fine Art', root_path + 'img/artspaceforsale/10.jpg', '2010', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Crack Magazine', root_path + 'img/artspaceforsale/11.jpg', '2010', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Cadburys', root_path + 'img/artspaceforsale/12.jpg', '2010', 'Oil on cavas') }}
    {{ macros.slide('Watershed', root_path + 'img/artspaceforsale/13.jpg', '2006', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Bristol Fine Art', root_path + 'img/artspaceforsale/14.jpg', '2006', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Tantric Jazz Bar', root_path + 'img/artspaceforsale/15.jpg', '2006', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Bristol Old Vic', root_path + 'img/artspaceforsale/16.jpg', '2006', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Hippodrome', root_path + 'img/artspaceforsale/17.jpg', '2006', 'Oil on cavas', width='narrow') }}
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/works_apparitionstudies_btn.jpg",
            url=root_path + "works/apparitions.html",
            title="Apparition Studies") %}
The Apparition Studies comprise of the Image Reaction Studies, the Place Reaction Studies and the Taste Studies each of which expand on the leitmotif of a simple circular patterns.
      {% endcall %}
    </div>
    <div class="small-12 large-6 columns">    
      {% call macros.captioned_img(src=root_path + 'img/works_spaceforsale_btn.jpg',
            url='#artspaceforsale-slideshow',
            title="Art Space for Sale",
            is_slideshow=True) %}
            Art Space for Sale event explores the conflict of commerce and artistic integrity in art. Read more in the <a href="{{ root_path }}exhibitions/artspaceforsale.html">exhibition write up</a>.
      {% endcall %}
    </div>
  </div>

  <div class="mfp-hide" id="selfportraits-slideshow">
    {{ macros.slide('Self Portrait and fabricator 1', root_path + 'img/outsourcedselfportraits/1.jpg', '2011', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Self Portrait and fabricator 2', root_path + 'img/outsourcedselfportraits/2.jpg', '2011', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Self Portrait and fabricator 3', root_path + 'img/outsourcedselfportraits/3.jpg', '2011', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Self Portrait and fabricator 4', root_path + 'img/outsourcedselfportraits/4.jpg', '2011', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Self Portrait and fabricator 5', root_path + 'img/outsourcedselfportraits/5.jpg', '2011', 'Oil on cavas', width='narrow') }}
    {{ macros.slide('Self Portrait and fabricator 6', root_path + 'img/outsourcedselfportraits/6.jpg', '2011', 'Oil on cavas', width='narrow') }}
  </div>

  <div class="mfp-hide" id="artideasforsale-slideshow">
    {{ macros.slide('Art ideas for Sale 1', root_path + 'img/artideasforsale/1.jpg', '2011', 'Manilla paper') }}
    {{ macros.slide('Art ideas for Sale 2', root_path + 'img/artideasforsale/2.jpg', '2011', 'Manilla paper') }}
    {{ macros.slide('Art ideas for Sale 3', root_path + 'img/artideasforsale/3.jpg', '2011', 'Manilla paper') }}
    {{ macros.slide('Art ideas for Sale', root_path + 'img/artideasforsale/4.jpg', '2011', 'Manilla paper') }}
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + 'img/works_selfportraits_btn.jpg',
            url='#selfportraits-slideshow',
            title="Outsourced Self Portraits",
            is_slideshow=True) %}
            Many artists no longer fabricate their own works, with the emphasis in these cases ostensibly being on the concept. Exhibited in the <a href="{{ root_path }}exhibitions/work.html">Work show</a>, these works explore how the nature of the work may be affected by outsourcing practices.
      {% endcall %}
    </div>

    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + 'img/works_ideasforsale_btn.jpg',
            url=root_path + 'works/artideasforsale.html',
            title='Art Ideas for Sale',
            is_slideshow=True) %}
            An ongoing project where modern art practice is called into question when we consider through these works if concept too can be outsourced. Above linked are current ideas on offer. The Art Ideas for Sale were exhibited in the <a href="{{ root_path }}exhibitions/work.html">Work show</a>.
      {% endcall %}
    </div>
  </div>


  <div class="row">

    <div class="mfp-hide" id="interactionstudies-slideshow">
      {{ macros.slide('Interaction Studies - Lion &amp; Octopus in battle', root_path + 'img/interactionstudies/1.jpg', '2013', 'Mixed media') }}
      {{ macros.slide('Interaction Studies - Lion &amp; Octopus in battle', root_path + 'img/interactionstudies/2.jpg', '2013', 'Mixed media') }}
      {{ macros.slide('Interaction Studies - Dodo &amp; bat', root_path + 'img/interactionstudies/3.jpg', '2013', 'Mixed media') }}
      {{ macros.slide('Interaction Studies - Dodo &amp; bat', root_path + 'img/interactionstudies/4.jpg', '2013', 'Mixed media') }}
      {% call macros.slide('Interaction Studies - Perspex and Artist\'s Face', root_path + 'img/interactionstudies/5.jpg', '2013', 'Perspex, latex, oil paints', width='narrow') %}
        <p>Piece can be adjusted to push faces in various directions.</p>
      {% endcall %}
      {% call macros.slide('Untitled', root_path + 'img/interactionstudies/6.jpg', '2013', 'Perspex, latex, oil paints') %}
        <p>Piece can be adjusted to push faces in various directions.</p>
      {% endcall %}
    </div>

    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + 'img/works_interactions_btn.jpg',
            url='#interactionstudies-slideshow',
            title='Interaction Studies',
            is_slideshow=True) %}
            Studies into using art to explore scenarios that other mediums cannot capture, in particular the impossible meeting of incongruous subjects.
      {% endcall %}
    </div>
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + 'img/works_misc_btn.jpg',
            url=root_path + 'works/misc.html',
            title='Misc. Works') %}
            Various individual works by Matthew Roy Arnold including the 'Sistine Table' and 'PCS10-The Good Shepherd'.
      {% endcall %}
    </div>
  </div>

  <div class="row">
  </div>
{% endblock %}

