{% extends base_template %}

{% block title %}
Spin studies by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
#logo {
    max-width: 100%;
    max-height: 400px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
}


{% endblock %}

{% block header %}
  <div class="row">
    <div class="small-6 large-3 columns">
      <a href="../">
        <img id="logo" src="{{ root_path }}img/home_title.png" alt="Matthew Roy Arnold" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h1>Spin Studies</h2>
    </div>
  </div>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}
  <div class="row">
    <div class="small-12 columns">

      <h2>About</h2>

      <p>The spins began in 2011 as abstract circular oil paintings on acrylic and glass discs and since then have developed through a series of studies involving a variety of media and contexts. Their abstract yet painterly nature serves as an ideal petri dish for wide ranging examinations into the perception and effects of art.</p>

      <ul>
        <li><a href="#imagereactionstudies">Image Reaction Studies</a></li>
        <li><a href="#placereactionstudies">Place Reaction Studies</a></li>
        <li><a href="#tastestudies">Taste Studies</a></li>
      </ul>

      <p>For information on obtaining a spin study piece, see <a href="{{ root_path }}acquire.html">acquiring works</a>.</p>

  Similarly in the <a href="{{ root_path }}works/placereactionstudies.html">Place Reaction Studies</a> spins on glass are arranged about a room in order to examine how we can exercise editorial control in how the room is perceived by the viewer. In contrast, the <a href="{{ root_path }}works/tastestudies.html">Taste Studies</a> are deliberately kept abstract and instead focus on evolving a colour palette to the taste of the viewing public.</p>

    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2 id="imagereactionstudies">Image Reaction Studies</h2>
      <p>The studies examine how overlaying abstract geometric spins over pre-existing images can imbue the spins with meaning and even purpose and affect the mood of the underlying image.</p>
      


    </div>
  </div>
  
  <div class="row">
    <div class="small-12 columns">
      <h2 id="placereactionstudies">Place Reaction Studies</h2>
      <p>Similar to the Image Reaction Studies, Place Reaction Studies explores how a space can be editorialised by simple abstract spins on glass discs.</p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2 id="tastestudies">Taste Studies</h2>
      <p>Simple abstract shapes are presented for a more scientific study into preference in colour palette and composition. Pieces are judged based on sales on popular auction sites such as eBay.</p>
    </div>
  </div>
  
{% endblock %}

{% block footer %}
{% endblock %}


