{% extends base_template %}

{% block title %}
Acquiring work for corporations by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Works for Businesses') }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

  <div class="mfp-hide" id="tastestudies-slideshow">
    {% call macros.slide('Sizes', src=root_path + 'img/acquire/corporate/taste/1.jpg') %}
        <p>The Taste Studies come in three standard sizes, portrait or landscape. Other sizes are possible &ndash; contact for more details.</p>
    {% endcall %}
    {% call macros.slide('Ready to hang', src=root_path + 'img/acquire/corporate/taste/2.jpg') %}
        <p>The pieces are ready to hang.</p>
    {% endcall %}
    {% call macros.slide('Frames', src=root_path + 'img/acquire/corporate/taste/3.jpg') %}
        <p>More unusual frames are available.</p>
    {% endcall %}
    {% call macros.slide('Taste piece detail', src=root_path + 'img/acquire/corporate/taste/4.jpg') %}
        <p>Clean lines combine with painterly textures.</p>
    {% endcall %}
  </div>


  <div class="mfp-hide" id="placereactionstudies-slideshow">
    {% call macros.slide('Place reaction study at U.W.E.', src=root_path + 'img/acquire/corporate/placereactionstudies/1.jpg') %}
        <p>Piece is initially installed by the artist to suit the environment</p>
    {% endcall %}
    {{ macros.slide('Place reaction study at U.W.E.', src=root_path + 'img/acquire/corporate/placereactionstudies/2.jpg') }}
    {{ macros.slide('Place reaction study at U.W.E.', src=root_path + 'img/acquire/corporate/placereactionstudies/3.jpg') }}
  </div>

  <div class="row">
    <div class="small-12 columns">

      <h2>Installations</h2>

      <p><em>Looking for a dynamic work that changes with season?</em> The <a href="#placereactionstudies-slideshow" class="slideshow-link">Place Reaction Studies</a> can be installed by the artist in a composition and range of colours exactly suitable for your own business environment. Alternate sets of discs can be supplied with easily swapped Velcro mounts to allow the apparition paintings to be changed throughout the year giving a dynamic, seasonal change of colours to the space.</p> 

      <p>Previous clients have included the University of West England, Frenchay and a Place Reaction Study installation was exhibited in the Royal West of England gallery in 2010.</p>

      <p>Prices start at &pound;2,000 for a 3&times;5 m installation &ndash; for more details email <a href="mailto:{{ email }}">{{ email }}</a></p>

      <h2>Ready to hang</h2>

      <p>The <a href="#tastestudies-slideshow" class="slideshow-link">Taste Studies</a> make an ideal hanging for private offices. The works feature clean lines combined with traditional artistic practice in oil paints. Large pieces begin at &pound;75 (plus delivery) and even even larger pieces are available on request.</p> 

    </div>
  </div>
{% endblock %}


