{% extends base_template %}

{% block title %}
Acquiring work by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Aquiring Work') }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}


  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/acquire_individual_btn.jpg",
            url=root_path + "acquire/individual.html",
            title="Individuals") %}
            Information for individuals wanting to obtain work.
      {% endcall %}
    </div>

    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/acquire_corporate_btn.jpg",
            url=root_path + "acquire/corporate.html",
            title="Corporate") %}
            Information for companies wanting to obtain work.'
      {% endcall %}
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      {% call macros.captioned_img(src=root_path + "img/acquire_galleries_btn.jpg",
            url=root_path + "acquire/galleries.html",
            title="Galleries") %}
            Information for galleries wishing to exhibit work.
      {% endcall %}
    </div>
  </div>
{% endblock %}

