{% extends base_template %}

{% block title %}
Acquiring work for individuals by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Works for Individuals') }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

  <div class="mfp-hide" id="tastestudies-slideshow">
    {% call macros.slide('Sizes', src=root_path + 'img/acquire/individual/taste/1.jpg') %}
     <p>The Taste Studies come in three standard sizes, portrait or landscape. Other sizes are possible &ndash; contact for more details.</p>
    {% endcall %}
    {% call macros.slide('Ready to hang', src=root_path + 'img/acquire/individual/taste/2.jpg') %}
        <p>The pieces are ready to hang.</p>
    {% endcall %}
    {% call macros.slide('Frames', src=root_path + 'img/acquire/individual/taste/3.jpg') %}
        <p>More unusual frames are available</p>
    {% endcall %}
    {% call macros.slide('Taste piece detail', src=root_path + 'img/acquire/individual/taste/4.jpg') %}
        <p>Clean lines combine with painterly textures.</p>
    {% endcall %}
  </div>

  <div class="mfp-hide" id="imagereactionstudies-slideshow">
    {% call macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/1.jpg', width='narrow') %}
        <p>Image Reaction Studies can take any image and accentuate with apparitions.</p>
    {% endcall %} 
    {% call macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/2.jpg') %}
        <p>Here the gicl&eacute;e print contrast with the rich oil paint textures.</p>
    {% endcall %} 
    {% call macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/3.jpg', width="narrow") %}
        <p>Images as landscape.</p>
    {% endcall %} 
    {% call macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/4.jpg') %}
        <p>As portrait</p>
    {% endcall %} 
    {% call macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/5.jpg') %}
        <p>A framed image.</p>
    {% endcall %} 
  </div>

  <div class="mfp-hide" id="support-artist-slideshow">
    {% call macros.slide('The next project', src=root_path + 'img/acquire/support/1.jpg', width='narrow') %}
        <p>The next project Matt is working on.</p>
    {% endcall %} 
    {% call macros.slide('The next project', src=root_path + 'img/acquire/support/2.jpg', width='narrow') %}
        <p>Some kind of mind device?</p>
    {% endcall %} 
  </div>

  <div class="row">

    <div class="small-12 large-6 columns">

      <p>Collecting original art is a rewarding activity and not as expensive as you might think, many of the works here are priced comparable to what you would spend in Ikea &ndash; plus you would be supporting a <a href="#support-artist-slideshow" class="slideshow-link">working artist</a>.</p>

      <p>Many of the Apparition Studies are available on <a href="https://www.etsy.com/uk/shop/MatthewRoyArnold">the Etsy shop</a> but also feel free to send an email to <a href="mailto:{{ email }}">{{ email }}</a> if you like something that you have seen on this site or would like to commission a piece.</p> 


    </div>

    <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + "img/acquire_etsy_btn.jpg",
            url="https://www.etsy.com/uk/shop/MatthewRoyArnold",
            title="Works on Etsy") }}
    </div>



    <div class="small-12 columns bottom-gutter">

      <h2>Framed or unframed</h2>

      <div class="clear"></div>

      <div class="figure-left">
        <img src="{{ root_path }}img/acquire/frames/1.jpg" alt="Example of a framed Image Reaction Study" />
        <p class="figure-caption">An example framed Image Reaction Study</p>
      </div>





      <p>The Image Reaction Studies can be supplied with or without a frame. Framed pieces are ready to hang and are sandwiched between two panes of glass which hang about an inch away from the wall. The cost for the frame (and extra delivery) varies by size but is generally between an extra &pound;5 and &pound;35. Unframed works can be hung as you would a poster.</p>

      <p>The Taste Studies all come pre-framed.</p>

    </div>
  </div>

  <div class="row">
  </div>
{% endblock %}


