{% extends base_template %}

{% block title %}
Acquiring work for individuals by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Aquiring Work',
      type='individual',
      root_path=root_path) }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

  <div class="mfp-hide" id="tastestudies-slideshow">
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
  </div>

  <div class="mfp-hide" id="imagereactionstudies-slideshow">
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
  </div>

  <div class="mfp-hide" id="placereactionstudies-slideshow">
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
  </div>

  <div class="row">
    <div class="small-12 columns">

      <h2>Ready to hang</h2>

      <p><em>Looking for an artwork to match your home?</em> In the <a href="#tastestudies-slideshow" class="slideshow-link">Taste Studies</a>, individual spins are presented as ready-to-hang works which are uniquely matched to owner's tastes &ndash; the ones in the slideshow for example are inspired by the <a href="https://vimeo.com/24410924">Cassini Mission</a> to the Saturnian system, others have been inspired by pop culture. Typically these works are on a framed glass background with a spin composition overlaid resulting in an attractive minimalist piece. Specify a precise composition and palette to exactly suit your own requirements for as little as &pound;40 (plus delivery) for the smaller pieces, to &pound;75 (plus delivery) for the larger works &ndash; email {{ macros.email() }} for more details. </p>

      <p>Pre-made works from the Taste Studies are available occasionally put up for auction with no-reserve. To find out when this happens, subscribe to the <a href="http://facebook.com/MatthewRoyArnold/">news page</a> on Facebook.</p>

      <p><em>Looking for a unique gift?</em> The <a href="#imagereactionstudies-slideshow" class="slideshow-link">Image Reaction Studies</a> are tailored for individuals based on their interests. For example, the `Early Crimson' works shown were commissioned by an individual who supplied a series of gicl&eacute;e printed images of aviation and academic environments upon which the spins were overlaid. Prices begin at &pound;40 with framed ready to hang versions for an extra &pound;30  &ndash; again email {{ macros.email() }} for more details.</p>

      <h2>Comissions</h2>

      <p>Matthew is available for comissions and has in the past painted portraits as well as sell works to private collectors. The artist will be happy to receive all enquiries at {{ macros.email() }}.</p>


    </div>
  </div>
{% endblock %}


