{% extends base_template %}

{% block title %}
Acquiring work for individuals by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Aquiring Work',
      type='individual') }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

  <div class="mfp-hide" id="tastestudies-slideshow">
    {{ macros.slide('Sizes', src=root_path + 'img/acquire/individual/taste/1.jpg', copy='<p>The Taste Studies come in three standard sizes, portrait or landscape. Other sizes are possible &ndash; contact for more details.</p>') }}
    {{ macros.slide('Ready to hang', src=root_path + 'img/acquire/individual/taste/2.jpg', copy='<p>The pieces are ready to hang.</p>') }}
    {{ macros.slide('Frames', src=root_path + 'img/acquire/individual/taste/3.jpg', copy='<p>More unusual frames are available</p>') }}
    {{ macros.slide('Taste piece detail', src=root_path + 'img/acquire/individual/taste/4.jpg', copy='<p>Clean lines combine with painterly textures.</p>') }}
  </div>

  <div class="mfp-hide" id="imagereactionstudies-slideshow">
    {{ macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/1.jpg', copy='<p>Image Reaction Studies can take any image and accentuate with discs.</p>', width='narrow') }}
    {{ macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/2.jpg', copy='<p>Here the gicl&eacute;e print contrast with the rich oil paint textures.</p>') }}
    {{ macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/3.jpg', copy='<p>Images as landscape.</p>', width='narrow') }}
    {{ macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/4.jpg', copy='<p>As portrait</p>') }}
    {{ macros.slide('Image reaction studies ...', src=root_path + 'img/acquire/individual/imagereactionstudies/5.jpg', copy='<p>A framed image.</p>') }}
  </div>

<!--
  <div class="mfp-hide" id="placereactionstudies-slideshow">
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src=root_path + 'acquire/placereactionstudies/1.jpg', copy='') }}
  </div>
-->

  <div class="row">
    <div class="small-12 columns">

      <h2>Ready to hang</h2>

      <div class="clear"></div>

      <div class="figure-right">
        <img src="{{ root_path }}img/acquire/individual/1.jpg" alt="Examples of the Taste and Image Reaction studies at home" />
        <p class="figure-caption">Example from the Taste and Image Reaction series</p>
      </div>

      <p><em>Looking for an artwork to match your home?</em> In the <a href="#tastestudies-slideshow" class="slideshow-link">Taste Studies</a>, individual discs are presented as ready-to-hang works which are uniquely matched to owner's tastes &ndash; the ones in the slideshow for example are inspired by the <a href="https://vimeo.com/24410924">Cassini Mission</a> to the Saturnian system, others have been inspired by pop culture. Typically these works are on a framed glass background with a disc composition overlaid resulting in an attractive minimalist piece. Specify a precise composition and palette to exactly suit your own requirements for as little as &pound;40 (plus delivery) for the smaller pieces, to &pound;75 (plus delivery) for the larger works &ndash; email {{ macros.email() }} for more details. </p>


      <p>Pre-made works from the Taste Studies are available occasionally put up for auction with no-reserve. To find out when this happens, subscribe to the <a href="http://facebook.com/MatthewRoyArnold/">news page</a> on Facebook.</p>

      <div class="slideshow-launcher"><a href="#tastestudies-slideshow" class="slideshow-link">Buying Taste Studies in pictures</a></div>

      <p><em>Looking for a unique gift?</em> The <a href="#imagereactionstudies-slideshow" class="slideshow-link">Image Reaction Studies</a> are tailored for individuals based on their interests. For example, the `Early Crimson' works shown were commissioned by an individual who supplied a series of gicl&eacute;e printed images of aviation and academic environments upon which the discs were overlaid. Prices begin at &pound;40 with framed ready to hang versions for an extra &pound;30  &ndash; again email {{ macros.email() }} for more details.</p>

      <div class="slideshow-launcher"><a href="#imagereactionstudies-slideshow" class="slideshow-link">Buying Image Reaction Studies in pictures</a></div>

      <div class="clear"></div>

      <h2>Comissions</h2>

      <p>Matthew is available for comissions and has in the past painted portraits as well as sell works to private collectors. The artist will be happy to receive all enquiries at {{ macros.email() }}.</p>


    </div>
  </div>
{% endblock %}


