{% extends base_template %}

{% block title %}
About MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='About',
      type='index') }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}


  <div class="row">
    <div class="small-12 columns" itemscope itemtype="http://www.schema.org/Person">
  
      <meta itemprop="name" content="Matthew Roy Arnold" />
      <meta itemprop="jobTitle" content="Fine Artist, TV and Film Prop Maker" />

      <h2>Biography</h2>

      <div class="clear"></div>

      
      <div class="figure-right">
        <img itemprop="image" src="{{ root_path }}img/about/1.jpg" alt="Matthew in his studio" />
        <p class="figure-caption">Artist in studio</p>
      </div>

      <p>Matthew was born and raised in Cleethorpes, UK and moved to Bristol in 2003 to study Fine Art at U.W.E. After graduating he worked in television as a prop maker to support his practice before becoming a full-time artist in 2011.</p>

      <h2>Themes</h2>

      <p>Much of Matthew's work looks at the nature and purpose of art and the artist's role within society.</p>

      <h2>Contact</h2>

      <p>Matthew works from BV Studios in Bristol.</p>

      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        Room G2<br />
        <span itemprop="name">BV Studios</span><br />
        <span itemprop="streetAddress">37 Philip St.</span><br />
        <span itemprop="addressLocality">Bedminster</span><br />
        <span itemprop="addressRegion">Bristol</span><br />
        <span itemprop="postalCode">BS3 4EA</span>
      </address>

      <p>Email: <a href="mailto:{{ email }}" itemprop="email">{{ email }}</a></p>

      <p>Facebook: <a href="http://www.facebook.com/MatthewRoyArnold">/MatthewRoyArnold</a></p>

    </div>
  </div>
{% endblock %}


