{% extends base_template %}

{% block title %}
Acquiring work by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Aquiring Work',
      type='index',
      root_path=root_path) }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

  <div class="mfp-hide" id="tastestudies-slideshow">
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
    {{ macros.slide('Taste piece featuring ...', src='acquire/taste/1.jpg', copy='') }}
  </div>

  <div class="mfp-hide" id="imagereactionstudies-slideshow">
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Image reaction studies ...', src='acquire/imagereactionstudies/1.jpg', copy='') }}
  </div>

  <div class="mfp-hide" id="placereactionstudies-slideshow">
    {{ macros.slide('Place reaction studies ...', src='acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src='acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src='acquire/placereactionstudies/1.jpg', copy='') }}
    {{ macros.slide('Place reaction studies ...', src='acquire/placereactionstudies/1.jpg', copy='') }}
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2>Individuals</h2>

      <p><em>Looking for an artwork to match your home?</em> In the <a href="#tastestudies-slideshow" class="slideshow-link">Taste Studies</a>, individual spins are presented as ready-to-hang works which are uniquely matched to owner's tastes. Typically these works are on a framed glass background with a spin composition overlaid resulting in an attractive minimalist piece. Pre-made works from the Taste Studies are available occasionally put up for auction with no-reserve. To find out when this happens, subscribe to the <a href="http://facebook.com/MatthewRoyArnold/">news page</a> on Facebook. Alternatively a more precise composition and palette can be specified to exactly suit your own requirements for as little as &pound;30 &ndash; email {{ macros.email() }} for more details.</p>

      <p><em>Looking for a unique gift?</em> The <a href="#imagereactionstudies-slideshow" class="slideshow-link">Image Reaction Studies</a> are tailored for individuals based on their interests. For example, the `Early Crimson' works shown were commissioned by an individual who supplied a series of gicl&eacute;e printed images of aviation and academic environments upon which the spins were overlaid. Prices begin at &pound;40 with framed ready to hang versions for an extra &pound;30  &ndash; again email {{ macros.email() }} for more details.</p>

      <h2>Corporate</h2>

      <p><em>Looking for a dynamic work that changes with season?</em> The <a href="#placereactionstudies-slideshow" class="slideshow-link">Place Reaction Studies</a> can be installed in a composition and range of colours suitable for your own business environment. Alternate sets of discs can be supplied with easily swapped velcro mounts to allow the disc paintings to be changed throughout the year giving a dynamic, seasonal change of colours to the space. Prices start at &pound;2,000 for a 3&times;5 m installation &ndash; for more details email {{ macros.email() }}</p>

      <h2>Art Galleries</h2>

      <p>Matthew has exhibited his work in several galleries around the UK. If you are interested, please {{ macros.email() }} or telephone on 07835 122531.</p>

    </div>
  </div>
{% endblock %}

