{% extends base_template %}

{% block title %}
Acquiring work by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  <div class="row">
    <div class="small-6 large-3 columns">
      <a href="{{ root_path }}">
        <img id="logo" src="{{ root_path }}img/home_title.png" alt="Matthew Roy Arnold" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h1>ACQUIRING WORKS</h2>
    </div>
  </div>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}
  <div class="row">
    <div class="small-12 columns">
      <h2>INDIVIDUALS</h2>

  
      <p>In the <a href="{{ root_path }}spins/taste.html">Taste Studies</a>, individual spins are presented as ready-to-hang works which are uniquely matched to owner's tastes. Typically these works are on a framed glass background with a spin composition overlaid resulting in an attractive minimalist piece. Pre-made works from the Taste Studies are occasionally put up for auction with no-reserve. To find out when this happens, subscribe to the <a href="http://facebook.com/MatthewRoyArnold/">news page</a> on Facebook. Alternatively a more precise composition and palette can be specified to exactly suit your own requirements for as little as &pound;30 &ndash; email <a href="mailto:matthewroyarnold@gmail.com">matthewroyarnold@gmail.com</a> for more details.</p>

      <p>The <a href="{{ root_path }}spin/irs.html">Image Reaction Studies</a> too can be tailored for individuals. The <a href="spin/irs.html#earlycrimson">Early Crimson</a> works were commissioned by an individual who supplied a series of digital images of aviation and academic environments upon which the spins were overlaid.</p>

      <h2>ART GALLERIES</h2>
      <h2>CORPORATE INSTALLATIONS</h2>

      <p>For larger spaces, <a href="{{ root_path }}spins/installations.html">clusters of spin paintings</a> can be installed in a composition and range of colours suitable for the environment.</p>

      <h2>ART/DESIGN OUTLETS</h2>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
