{% extends base_template %}

{% block title %}
MATTHEW ROY ARNOLD - Bristol, UK based fine artist
{% endblock %}


{% block inpagecss %}
h1 img {
    max-width: 100%;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    
}
{% endblock %}


{% block header %}
<img src="img/home_title.png" alt="Matthew Roy Arnold" />
{% endblock %}

{% block navigation %}

<div class="row">
  <div class="large-8 columns">
    <div class="nav">
      <a href="spins/">
        <span class="btn_title">SPIN PAINTINGS</span>
        <img src="img/home_spins_btn.jpg" alt="Spins mounted on a wall" />
      </a>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="nav">
      <a href="about.html">
        <span class="btn_title">ABOUT</span>
        <img src="img/home_about_btn.jpg" alt="Matt at work" />
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <div class="nav">
      <a href="work.html">Work</a>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="nav">
      <a href="exhibitions.html">Exhibitions</a>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="nav">
      <a href="http://www.facebook.com/MatthewRoyArnold/">News (Facebook)</a>
    </div>
  </div>
</div>
{% endblock %}


{% block maincontent %}
{% endblock %}


{% block footer %}
{% endblock %}


