{% extends base_template %}

{% block title %}
MATTHEW ROY ARNOLD - Bristol, UK based fine artist
{% endblock %}


{% block inpagecss %}
{% endblock %}


{% block header %}

  <div id="bg-container">
    <div id="bg-img-container">
      <img src="{{ root_path }}img/hand-bg.png" />
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h1 id="index-site-header">
        MATTHEW<br />ROY<br />ARNOLD
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="page-type-header">Fine Artist</div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

<div class="row">
  <div class="large-6 small-12 columns">
    {{ macros.captioned_img(root_path + "img/small/home_works_btn.jpg",
          root_path + "works/", 
          "Works",
          data_interchange="[" + root_path + "img/small/home_works_btn.jpg, (default)], [" + root_path + "img/large/home_works_btn.jpg, (small)]") }}
  </div>
  <div class="large-6 small-6 columns">
    {{ macros.captioned_img(root_path + "img/small/home_exhibitions_btn.jpg",
          root_path + "exhibitions/",
          "Exhibitions",
          data_interchange="[" + root_path + "img/small/home_exhibitions_btn.jpg, (default)], [" + root_path + "img/large/home_exhibitions_btn.jpg, (small)]") }}
  </div>
  <div class="large-4 small-6 columns">
    {{ macros.captioned_img(root_path + "img/small/home_acquire_btn.jpg",
          root_path + "acquire/",
          "Acquire Work",
          data_interchange="[" + root_path + "img/small/home_acquire_btn.jpg, (default)], [" + root_path + "img/large/home_acquire_btn.jpg, (small)]") }}
  </div>
  <div class="large-4 small-6 columns">
    {{ macros.captioned_img(root_path + "img/small/home_about_btn.jpg",
          root_path + "about.html",
          "About",
          data_interchange="[" + root_path + "img/small/home_about_btn.jpg, (default)], [" + root_path + "img/large/home_about_btn.jpg, (small)]") }}
  </div>
  <div class="large-4 small-6 columns bottom-gutter">
    {{ macros.captioned_img(root_path + "img/small/home_news_btn.jpg",
          "http://www.facebook.com/MatthewRoyArnold/",
          "News",
          data_interchange="[" + root_path + "img/small/home_news_btn.jpg, (default)], [" + root_path + "img/large/home_news_btn.jpg, (small)]") }}
  </div>
</div>
{% endblock %}






