html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1191px;
	min-height: 582.7499999999999px;
	border-style: none;
	background-color: #FFFFFF;
	margin: 10px auto;
	padding: 5px 5px 12.250000000000114px;
}

#pu1508-5
{
	width: 0.01px;
	position: relative;
}

#u1508-5
{
	z-index: 8;
	width: 1191px;
	min-height: 24px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	position: relative;
	margin-right: -1191px;
}

#u1508-2
{
	font-size: 16px;
	font-weight: bold;
}

#u1508-3
{
	font-size: 15px;
}

#slideshowu1509
{
	z-index: 13;
	width: 0.01px;
	height: 0px;
	padding-bottom: 659px;
	position: relative;
	margin-right: -1191px;
	margin-top: 35px;
}

#u1517
{
	position: absolute;
	z-index: 14;
	width: 1191px;
	height: 605px;
	background-image: none;
	border-style: none;
	background-color: transparent;
}

#u1524
{
	z-index: 15;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u1524_img
{
	padding-left: 368px;
	padding-right: 368px;
	vertical-align: top;
}

#u1512
{
	position: absolute;
	z-index: 17;
	width: 248px;
	top: 609px;
	left: 15px;
}

#u1516-8
{
	z-index: 18;
	width: 248px;
	min-height: 46px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -248px;
	position: relative;
}

#u1516-4
{
	font-size: 12px;
}

#u1516, #u1516-3
{
	font-weight: bold;
}

#u1516-6
{
	font-size: 11px;
}

#u1551-4
{
	position: absolute;
	z-index: 26;
	width: 50px;
	min-height: 12px;
	padding: 6px;
	font-size: 10px;
	text-align: right;
	color: #39393A;
	top: 609px;
	left: 484px;
}

#u1553-4
{
	position: absolute;
	z-index: 30;
	width: 23px;
	min-height: 12px;
	padding: 6px;
	font-size: 10px;
	text-align: right;
	color: #39393A;
	top: 609px;
	left: 614px;
}

#u1511-4
{
	position: absolute;
	z-index: 34;
	width: 33px;
	min-height: 16px;
	padding: 6px;
	font-size: 10px;
	text-align: center;
	color: #39393A;
	top: 609px;
	left: 573px;
}

#master-footer
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 6px;
	position: relative;
}

#u2817-4
{
	z-index: 3;
	width: 60px;
	min-height: 18px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: bold;
	color: #A81010;
	position: relative;
	margin-right: -60px;
}

