html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 252px;
	min-height: 191px;
	margin: 10px auto;
	padding: 26px 927px 393px 22px;
}

#pu591-4
{
	width: 0.01px;
	position: relative;
}

#u591-4
{
	z-index: 2;
	width: 219px;
	min-height: 18px;
	font-size: 15px;
	font-weight: bold;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	position: relative;
	margin-right: -219px;
}

#u647-3
{
	z-index: 6;
	width: 5px;
	position: relative;
	margin-right: -5px;
	margin-top: 12px;
	left: 247px;
}

#u3143-4
{
	z-index: 9;
	width: 78px;
	min-height: 5px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-size: 15px;
	font-weight: normal;
	color: #A81010;
	margin-top: 59px;
	position: relative;
}

#u3145-4
{
	z-index: 16;
	width: 208px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: normal;
	color: #A81010;
	margin-top: 11px;
	position: relative;
}

#u3145
{
	text-decoration: none;
	color: #A81010;
}

#pu3144-3
{
	width: 0.01px;
	margin-top: 12px;
	position: relative;
}

#u3144-3
{
	z-index: 13;
	width: 12px;
	min-height: 9px;
	position: relative;
	margin-right: -12px;
	margin-top: 2px;
}

#u3146-4
{
	z-index: 20;
	width: 247px;
	min-height: 6px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: normal;
	color: #A81010;
	position: relative;
	margin-right: -247px;
}

#u3147-4
{
	z-index: 24;
	width: 130px;
	min-height: 16px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: normal;
	color: #A81010;
	margin-top: 8px;
	position: relative;
}

