html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1191px;
	min-height: 582.7499999999999px;
	border-style: none;
	background-color: #FFFFFF;
	margin: 10px auto;
	padding: 5px 5px 12.250000000000114px;
}

#pu1660-5
{
	width: 0.01px;
	position: relative;
}

#u1660-5
{
	z-index: 8;
	width: 174px;
	min-height: 24px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	position: relative;
	margin-right: -174px;
}

#u1660-2
{
	font-size: 16px;
	font-weight: bold;
}

#u1660-3
{
	font-size: 15px;
}

#slideshowu1661
{
	z-index: 13;
	width: 0.01px;
	height: 0px;
	padding-bottom: 671px;
	position: relative;
	margin-right: -1191px;
	margin-top: 31px;
}

#u1669
{
	position: absolute;
	z-index: 14;
	width: 1191px;
	height: 605px;
	background-image: none;
	border-style: none;
	background-color: transparent;
}

#u1676
{
	z-index: 15;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u1676_img
{
	padding-left: 348px;
	padding-right: 348px;
	vertical-align: top;
}

#u2167
{
	z-index: 17;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u2181
{
	z-index: 19;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u2181_img
{
	padding-left: 356px;
	padding-right: 356px;
	vertical-align: top;
}

#u2195
{
	z-index: 21;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u2195_img
{
	padding-left: 362px;
	padding-right: 362px;
	vertical-align: top;
}

#u2209
{
	z-index: 23;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u2209_img
{
	padding-left: 357px;
	padding-right: 357px;
	vertical-align: top;
}

#u2223
{
	z-index: 25;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u2223_img
{
	padding-left: 363px;
	padding-right: 363px;
	vertical-align: top;
}

#u2237
{
	z-index: 27;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u2167_img, #u2237_img
{
	padding-left: 352px;
	padding-right: 352px;
	vertical-align: top;
}

#u1664
{
	position: absolute;
	z-index: 29;
	width: 140px;
	top: 612px;
	left: 15px;
}

#u1668-6
{
	z-index: 30;
	width: 140px;
	min-height: 55px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u2170-6
{
	z-index: 36;
	width: 140px;
	min-height: 55px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u2184-6
{
	z-index: 42;
	width: 140px;
	min-height: 55px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u2198-6
{
	z-index: 48;
	width: 140px;
	min-height: 55px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u2212-6
{
	z-index: 54;
	width: 140px;
	min-height: 55px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u2226-6
{
	z-index: 60;
	width: 140px;
	min-height: 55px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u2240-6
{
	z-index: 66;
	width: 140px;
	min-height: 55px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u1668-2, #u2170-2, #u2184-2, #u2198-2, #u2212-2, #u2226-2, #u2240-2
{
	font-size: 12px;
	font-weight: bold;
}

#u1668-4, #u2170-4, #u2184-4, #u2198-4, #u2212-4, #u2226-4, #u2240-4
{
	font-size: 11px;
	font-weight: normal;
}

#u1703-4
{
	position: absolute;
	z-index: 72;
	width: 50px;
	min-height: 12px;
	padding: 6px;
	font-size: 10px;
	text-align: right;
	color: #39393A;
	top: 612px;
	left: 484px;
}

#u1705-4
{
	position: absolute;
	z-index: 76;
	width: 23px;
	min-height: 12px;
	padding: 6px;
	font-size: 10px;
	text-align: right;
	color: #39393A;
	top: 612px;
	left: 614px;
}

#u1663-4
{
	position: absolute;
	z-index: 80;
	width: 33px;
	min-height: 16px;
	padding: 6px;
	font-size: 10px;
	text-align: center;
	color: #39393A;
	top: 612px;
	left: 564px;
}

#master-footer
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 6px;
	position: relative;
}

#u2817-4
{
	z-index: 3;
	width: 60px;
	min-height: 18px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: bold;
	color: #A81010;
	position: relative;
	margin-right: -60px;
}

