html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1191px;
	min-height: 582.7250000000001px;
	border-style: none;
	background-color: #FFFFFF;
	margin: 10px auto;
	padding: 5px 5px 12.274999999999864px;
}

#pu3140-4
{
	width: 0.01px;
	position: relative;
}

#u3140-4
{
	z-index: 55;
	width: 297px;
	min-height: 26px;
	font-size: 16px;
	font-weight: bold;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	position: relative;
}

#slideshowu2928
{
	z-index: 8;
	width: 0.01px;
	height: 0px;
	padding-bottom: 674px;
	margin-top: 16px;
	position: relative;
}

#u2938
{
	position: absolute;
	z-index: 9;
	width: 1191px;
	height: 605px;
	background-image: none;
	border-style: none;
	background-color: transparent;
}

#u3034
{
	z-index: 10;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u3043
{
	z-index: 12;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u3057
{
	z-index: 14;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u3071
{
	z-index: 16;
	width: 1191px;
	height: 605px;
	border-style: none;
	background-color: transparent;
	margin-right: -1191px;
	position: relative;
}

#u3034_img, #u3043_img, #u3057_img, #u3071_img
{
	padding-left: 192px;
	padding-right: 192px;
	vertical-align: top;
}

#u2930
{
	position: absolute;
	z-index: 18;
	width: 140px;
	top: 612px;
	left: 15px;
}

#u3040-6
{
	z-index: 19;
	width: 140px;
	min-height: 58px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u3049-6
{
	z-index: 25;
	width: 140px;
	min-height: 58px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u3063-6
{
	z-index: 31;
	width: 140px;
	min-height: 58px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u3077-6
{
	z-index: 37;
	width: 140px;
	min-height: 58px;
	padding-top: 4px;
	text-align: left;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	color: #39393A;
	margin-right: -140px;
	position: relative;
}

#u3040-2, #u3049-2, #u3063-2, #u3077-2
{
	font-size: 12px;
	font-weight: bold;
}

#u3040-4, #u3049-4, #u3063-4, #u3077-4
{
	font-size: 11px;
	font-weight: normal;
}

#u2929-4
{
	position: absolute;
	z-index: 43;
	width: 50px;
	min-height: 12px;
	padding: 6px;
	font-size: 10px;
	text-align: right;
	color: #39393A;
	top: 612px;
	left: 484px;
}

#u2971-4
{
	position: absolute;
	z-index: 47;
	width: 23px;
	min-height: 12px;
	padding: 6px;
	font-size: 10px;
	text-align: right;
	color: #39393A;
	top: 612px;
	left: 614px;
}

#u2972-4
{
	position: absolute;
	z-index: 51;
	width: 33px;
	min-height: 16px;
	padding: 6px;
	font-size: 10px;
	text-align: center;
	color: #39393A;
	top: 612px;
	left: 564px;
}

#master-footer
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 6px;
	position: relative;
}

#u2817-4
{
	z-index: 3;
	width: 60px;
	min-height: 18px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: bold;
	color: #A81010;
	position: relative;
	margin-right: -60px;
}

