html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 594px;
	min-height: 555.7px;
	border-style: none;
	background-color: #FFFFFF;
	margin: 10px auto;
	padding: 32px 586px 12.299999999999955px 21px;
}

#ppu515-3
{
	width: 0.01px;
	margin-left: 39px;
	position: relative;
}

#u515-3
{
	z-index: 8;
	width: 5px;
	position: relative;
	margin-right: -5px;
	margin-top: 62px;
	left: 264px;
}

#u520-5
{
	z-index: 14;
	width: 426px;
	min-height: 85px;
	position: relative;
	margin-right: -426px;
}

#u520-2
{
	font-size: 15px;
	font-weight: bold;
}

#u520
{
	font-family: Consolas, Lucida Console, Monaco, monospace;
}

#u2795-3
{
	z-index: 63;
	width: 5px;
	position: relative;
	margin-right: -5px;
	margin-top: 28px;
	left: 426px;
}

#pu515-3, #pu516-3
{
	width: 0.01px;
	position: relative;
}

#u516-3
{
	z-index: 11;
	width: 5px;
	position: relative;
	margin-right: -5px;
	margin-top: 43px;
	left: 379px;
}

#u644-21
{
	z-index: 22;
	width: 258px;
	min-height: 166px;
	position: relative;
	margin-right: -258px;
	left: 297px;
}

#u644-3
{
	font-size: 13px;
	color: #C1272D;
}

#u644-5, #u644-7, #u644-8, #u644-10, #u644-11
{
	font-size: 12px;
	color: #000000;
}

#u644-16, #u644-18
{
	font-weight: bold;
	color: #000000;
}

#u2816-3
{
	z-index: 66;
	width: 14px;
	min-height: 6px;
	position: relative;
	margin-right: -14px;
	margin-top: 310px;
	left: 244px;
}

#u645-20
{
	z-index: 43;
	width: 258px;
	min-height: 166px;
	position: relative;
	margin-right: -258px;
}

#pu644-20, #pu645-19
{
	width: 258px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	position: relative;
	margin-right: -258px;
}

#u644-2, #u645-2, #u645-3
{
	font-weight: bold;
}

#u645-5, #u645-7, #u645-9
{
	font-size: 12px;
}

#u644-14, #u645-10, #u645-11, #u645-12, #u645-13, #u645-14, #u645-15
{
	font-weight: bold;
	color: #A81010;
}

#u644-13, #u644-19, #u645-18
{
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

#pu3139-4
{
	width: 0.01px;
	position: relative;
	margin-right: -170px;
	margin-top: 405px;
}

#u3139-4
{
	z-index: 73;
	width: 170px;
	min-height: 16px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: bold;
	color: #A81010;
	position: relative;
}

#u3138-4
{
	z-index: 69;
	width: 81px;
	min-height: 17px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: bold;
	color: #A81010;
	position: relative;
}

#u589-3
{
	z-index: 19;
	width: 5px;
	margin-left: 328px;
	margin-top: 189px;
	position: relative;
}

#master-footer
{
	width: 0.01px;
	margin-top: 6px;
	position: relative;
}

#u2817-4
{
	z-index: 3;
	width: 60px;
	min-height: 18px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: bold;
	color: #A81010;
	position: relative;
	margin-right: -60px;
}

