$gutter_large: 40px;
$gutter_normal: 20px;
$gutter_small: 10px;
$border_width: 1px;
$subheader_weight: 300;


body {
  margin: 0px 0px 0px 10px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 19px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: $subheader_weight;
    font-size: 19px;
    padding: 5px;
    display: inline-block;
    border: $border_width solid black;
    line-height: 19px;
    margin: $gutter_normal 0px $gutter_normal 0px;
}

h1 {
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 92px;
  line-height: 85px;
  margin-bottom: $gutter_small;
}

div.nav {
  margin: 0px 10px 10px 0px;
  border: $border_width solid black;
  padding: 5px;
  font-size: 120%;
  span {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: $subheader_weight;
    display: block;
    background: white;
    width: 100%;
    color: black;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  img {
    width: 100%;
  }
}

.nav-caption {
  margin-left: 9px;
  margin-right: 9px;
}

.fig-left {
  float: left;
  margin-right: $gutter_small;
  margin-bottom: $gutter_small;
}

#sign-off {
  text-align: right;
  border-top: $border_width solid black;
  margin-top: $gutter_large;
  margin-right: $gutter_small;
}


@mixin slide($width) {
  position: relative;
  background: #FFFFFF;
  padding: $gutter_large 1% $gutter_normal 1%;
  max-width: 100%;
  width: $width;
  margin: $gutter_normal auto;
  .slide-img-container {
    img {
      width: 100%;
    }
    text-align: center;
  }
  .slide-placard {
    .slide-placard-title {
      text-transform: uppercase;
      margin-bottom: 0px;
      float: left;
    }
    .slide-placard-subtitle {
      text-align: right;
      margin-bottom: 0px;
    }
    .slide-placard-media {
    }
    .slide-placard-date {
    }
  }
}

.slide-normal {
  @include slide(1000px);
}

.slide-narrow {
  @include slide(600px);
}

// Override weird Foundation defaults
ul, ol {
  list-style-position: inside;
  &.nodecoration {
    list-style-type: none;
  }
}


#logo {
    width: 250px;
    height: 151px;
    margin: $gutter_normal 5px $gutter_normal 5px;
}

.page-type-header {
  border: $border_width solid black;
  padding: 5px;
  text-transform: uppercase;  
  margin-bottom: $gutter_large;
  margin-right: 2 * 5px;
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: $subheader_weight;
}

.signed {
  font-size: 19px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin-top: $gutter_large;
}

.article-meta-container {
  font-size: 19px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin-bottom: $gutter_large;
}

address {
  @extend p;
  line-height: 1.3;
  font-style: normal;
  margin-bottom: $gutter_normal;
}

li {
  @extend p;
}

@mixin float-left($margin) {
  margin-right: $margin;
  float: left;
}

@mixin float-right($margin) {
  margin-left: $margin;
  margin-right: $gutter_small;
  float: right;
}

@mixin figure {
  padding: $gutter_small;
  border: $border_width solid black;
  img {
    max-width: 100%;
  }
  .figure-caption {
    margin-bottom: 0px;
  }
}

.figure-left {
  @include figure;
  @include float-left($gutter_small);
}

.figure-right {
  @include figure;
  @include float-right($gutter_small);
}

.block {
  margin-bottom: $gutter_normal;
}

div.clear {
  clear: both;
}

.slideshow-launcher {
  @extend p;
  border: $border_width solid black;
  padding: 5px;
  display: inline-block;
  margin-bottom: $gutter_normal;
}
