$text_padding: 5px;
$gutter_tiny: 5px;
$gutter_large: 40px;
$gutter_normal: 20px;
$gutter_small: 10px;
$gutter_huge: 60px;
$border_width: 1px;
$subheader_weight: 300;
$page_font_size: 1em;
$header_font_size: 5.75em;
$site_header_font_size: 3.9em;
$dark_color: #433735;

// Define some general use mixins

@mixin page_font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: $page_font_size;
  line-height: 1.6;
  color: $dark_color;
}

@mixin header_font {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 0.9;
  color: $dark_color;
}

// Override some of the basic elements

p {
  @include page_font;
  margin: 0px 0px $gutter_normal 0px;
}

a {
  text-decoration: none;
}

h2 {
  @include page_font;
  // text-transform: uppercase;
  // padding: $text_padding;
  display: inline-block;
  font-size: 1.75em;
  line-height: $page_font_size;
  margin: $gutter_normal 0px $gutter_normal 0px;
}

h1 {
  @include header_font;
  font-size: $header_font_size;
  margin: $gutter_small 0px 3px 0px;
  padding: 0px 0px $gutter_small 0px;
  max-width: 100%;
  position: relative;
  border-bottom: 1px solid $dark_color;
  display: inline-block;
  @media only screen and (max-width: 768px) {
    font-size: 4em;
  }
  // Special case for the index page which does not have the MRA logo at
  // top
  &#index-site-header {
    margin: $gutter_normal 0px 3px 0px;
  }
}

table {
  @include page_font;
  th {
    font-weight: 300;
    text-transform: uppercase;
  }
}

ul, ol {
  // Override weird Zurb Foundation defaults
  @include page_font;
  list-style-position: inside;
  padding-left: 0px;
  &.nodecoration {
    list-style-type: none;
  }
}

address {
  @include page_font;
  line-height: 1.3;
  font-style: normal;
  margin: 0px 0px $gutter_normal $gutter_normal;
}


// This and .bottom-gutter used to get good spacing near the bottom of
// the page above the .sign-off
.columns > :first-child {
  margin-top: 0px;
}

.bottom-gutter {
  margin-bottom: $gutter_large;
}

// The MRA logo at the top of the pages
#site-header {
  @include header_font;
  font-size: $site_header_font_size;
  margin: $gutter_normal 0px $gutter_normal 0px;
  position: relative;
  a {
    color: $dark_color;
  }
  @media only screen and (max-width: 768px) {
    font-size: 3em;
  }
}

// The breadcrumb container at the top of the page
.page-type-header, .breadcrumb-container {
  @include page_font;
  font-size: 1.375em;
  text-transform: uppercase;  
  margin: 0px 0px $gutter_large 0px;
  font-weight: 400;
  display: inline-block;
  @media only screen and (max-width: 768px) {
    font-size: 1.1875em;
  }
}

// Container for the large image button links
div.nav-container {
  div.nav {
    @include page_font;
    margin: 0px 0px $gutter_small 0px;
    background: black;
    position: relative;
    a:hover {
      img {
        opacity: 0.7;
      }
    }
    // This span is the overlaid title
    span {
      display: block;
      width: 100%;
      color: white;
      font-size: 2.625em;
      // font-weight: 600;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0.8;
      line-height: 1.5em;
      margin: 0px 15px 0px 15px;
      @media only screen and (max-width: 768px) {
        line-height: 1.3;
        font-size: 1.6em;
        margin: 0px 5px 0px 5px;
      }
    }
    img {
      width: 100%;
      border-width: 0px;
      position: relative;
      opacity: 0.95;
    }
    // Spacial case for Art Spac for Sale which has an overlaid div
    // containing and advert
    #artspaceforsale-btn-ad-container {
      width: 468px;
      height: 60px;
      border: 1px solid blue;
      position: absolute;
      top: 35%;
      left: 8px;
      @media only screen and (max-width: 768px) {
        left: -6px;
      }
    }
  }
  p.nav-caption {
    margin: 0px $gutter_tiny 0px 0px;
    line-height: 1.4em; 
  }
}


// The footer at the bottom
#sign-off {
  @include page_font;
  font-size: 1.375em;
  text-align: right;
  border-bottom: $border_width solid $dark_color;
  margin: 0px 0px $gutter_large 0px;
  padding: 0px 0px $gutter_small 0px;
  @media only screen and (max-width: 768px) {
    font-size: 1.1875em;
  }
}

// The container for the background hand image
#bg-container {
  position: relative;
  #bg-img-container {
    position: absolute;
    right: -96px;
    top: -190px;
  }
}

// Mixin for the slideshow slides
@mixin slide($width) {
  position: relative;
  background: #FFFFFF;
  padding: $gutter_large 1% $gutter_normal 1%;
  max-width: 100%;
  width: $width;
  margin: $gutter_normal auto;
  .slide-img-container {
    img {
      width: 100%;
    }
    text-align: center;
    margin-bottom: $gutter_small;
  }
  .slide-placard {
    .slide-placard-title {
      text-transform: uppercase;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    .slide-placard-subtitle {
      margin: 0px;
    }
    .slide-placard-media {
    }
    .slide-placard-date {
    }
    .slide-placard-price {
      margin: 0px;
    }
    .spacer {
      margin-bottom: $gutter_small;
    }
  }
}

.slide-normal {
  @include slide(1000px);
}

.slide-narrow {
  @include slide(600px);
}

// Used in articles to contain the author's name
.signed {
  @include page_font;
  margin-top: $gutter_normal;
  font-size: 1.375em;
  @media only screen and (max-width: 768px) {
    font-size: 1.1875em;
  }
}

// Used in articles to contain e.g. date, location of exhibition
.article-meta-container {
  @include page_font;
  font-size: 1.375em;
  margin-bottom: $gutter_large;
  @media only screen and (max-width: 768px) {
    font-size: 1.1875em;
  }
}

// Mixins for figures
@mixin float-left($margin) {
  margin-right: $margin;
  float: left;
}

@mixin float-right($margin) {
  margin-left: $margin;
  margin-right: $gutter_small;
  float: right;
}

@mixin figure {
  max-width: 100%;
  img {
    max-width: 100%;
    @media only screen and (max-width: 481px) {
      width: 100%;
    }
  }
  .figure-caption {
    margin-bottom: $gutter_small;
    font-weight: 600;
  }
}

.figure-left {
  @include figure;
  @include float-left($gutter_small);
  @media only screen and (max-width: 481px) {
    width: 100%;
    margin: 0px;
  }
}

.figure-right {
  @include figure;
  @include float-right($gutter_small);
  @media only screen and (max-width: 481px) {
    width: 100%;
    margin: 0px;
  }
}

div.clear {
  clear: both;
}

.slideshow-launcher {
  @include page_font;
  border: $border_width solid $dark_color;
  padding: $text_padding;
  display: inline-block;
  margin-bottom: $gutter_normal;
}

.available-ideas {
  table {
    @include page_font;
    margin: 0px 0px $gutter_normal 0px;
    .label {
      vertical-align: top;
      text-transform: uppercase;
      padding-right: $gutter_normal;
    }
  }
}

// Some Art Space for Sale specific CSS to caterfor the adverts

.artspaceforsale-btn {
  // background-image specified inline with HTML since requires a 
  // root_path relative URL
  // background-size: cover;
  // background-repeat: no-repeat;
  width: 100%;
  height: 0px;
  padding-bottom: 50%; // This ensures height is propto width since padding % is calculated from width
  position: relative;
}

.artspaceforsale-banner-advert-container {
  padding: $gutter_large $gutter_small $gutter_large $gutter_small;
  .ad-container {
    border: 1px solid blue;
    margin: auto 0px;
  }
}

.artspaceforsale-advert {
  padding: 2 * $gutter_large $gutter_small 4 * $gutter_large $gutter_small;
  p {
    text-align: center;
  }
  .header {
    text-transform: uppercase;
  }
}

.artspaceforsale-others-container {
  padding: 2 * $gutter_large $gutter_small 4 * $gutter_large $gutter_small;
  ul {
    margin: 0px auto 0px auto;
    list-style-type: none;
    li {
      display: inline-block;
    }
  }
}

