
h2 {
    font-family: 'Monda', sans-serif;
    font-weight: normal;
}

h1 {
  font-family: 'Monda', sans-serif;
  font-weight: normal;
  font-size: 500%;
  color: black;
}

div.nav {
  margin: 5px;
  border: 2px solid black;
  padding: 5px;
  font-size: 120%;
  .btn_title {
    display: block;
    background: white;
    width: 100%;
    color: black;
  }
  img {
    width: 100%;
    max-height: 400px;
  }
}


