{% extends base_template %}

{% block title %}
Art Space for Sale exhibition by MATTHEW ROY ARNOLD
{% endblock %}


{% block header %}
  {{ macros.standard_header('Art Space for Sale', 'Exhibition', root_path) }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}


  <div class="row">
    <div class="small-12 columns">

      <div class="article-meta-container"><span class="article-date">15-19 December 2010</span> &mdash; <span class="article-location">Pop up gallery (now Clifton Cakes), Anchor Rd., Bristol</span></div>

      <div class="figure-right">
        <img src="{{ root_path }}img/exhibitions/artspaceforsale/1.jpg" alt="Placeholder Art Space for Sale canvas" />
        <p class="figure-caption">A placeholder canvas.</p>
      </div>

      <p>Walking around the Art Space for Sale show, situated in a soon-to-be-let commercial premises, there is a vague sense of being cheated.  On the ground floor for example we find a canvas covered in life drawings which we quickly realise from the accompanying text at the top of the canvas was done at Bristol Drawing School where `spaces are now available', across the room is another pencil drawing of a tree with vibrant splashes of colour `brought to life by Winsor &amp; Newton', the show's centrepiece is a to-scale bronze cast of a drill but with an exaggerated DeWalt branding embossed in the side. On the upper gallery mezzanine the works are even less subtle &ndash; Large, bold advertisements for Magna Building Supplies in a quasi-soviet realist style, Crack Magazine and Bristol Beer Factory rendered in oil in garish hues. There is no doubt that this is an exhibition of art works but one where the artist has let the corporate world in on the joke.</p>
      <div class="figure-left">
        <img src="{{ root_path }}img/exhibitions/artspaceforsale/3.jpg" alt="DeWalt drill bronze cast" />
        <p class="figure-caption">DeWalt drill bronze cast.</p>
      </div>



<p>The line between art and industry was breached at the inception of the Pop Art movement but the focus has been on society and the increased commoditisation of art which was brought inline with industrial practice. In this exhibition the artist instead invites commerce to leverage the traditional qualities of art for commercial gain &ndash; commercial practice is brought inline with art. We can see lots of examples throughout the show of long established art practices being subverted to push the advertisers message &ndash; the buffed bronze of the drill drives the iconic yellow DeWalt branding, the Bristol Drawing School sketches are 'signed' with contact details and prices for classes, even the drinks and 'buffet' provided on the closing night were sponsor provided.</p>

      <p>Before the show took place Matthew contacted various enterprises about the possibility of some small scale advertising but with a high potential to go `viral'. The promise was an audience who is viewing of their own volition and will likely spend a significant amount of time and mental energy absorbing whatever message was presented on the work. In return Matthew would collect a `fee' in terms of goods or services. The work generated is not a traditional artistic commission however since ownership rights to the piece are retained by the artist. The result is a series of pieces which generally reflect a painterly version of the company or product logo with embellishments which are reminiscent of pre-modernist advertising. Any leftover space in the gallery was taken up with `placeholder' canvases with a web address containing the contact details necessary to fill the spot.</p>
      <div class="figure-right">
        <img src="{{ root_path }}img/exhibitions/artspaceforsale/2.jpg" alt="Bristol Beer Factory" />
        <p class="figure-caption">Bristol Beer Factory</p>
      </div>


      <p>I get the impression that this is a show that could really only take full effect with the modern sceptical consumer who is sensitive to and wary of being advertised at. Marketing firms have long since had to move away from the static 728 &times; 90 banner adverts on the web to which people have now developed a blind spot for, broadcasters have had to increase the volume during commercial breaks to reach people who race to the kitchen when the spot begins. The artist here has opened a new vector for marketeers and for those who view this as an arms race, it is another front lost. It also raises the question as to whether it can continue to be called art in the public interest &ndash; if art is used to deliver a message from an enterprise (an advert), should it be displayed in a public gallery? (The space was acquired under a council sponsored Pop-Up exhibition scheme).</p>

      <div class="figure-left">
        <img src="{{ root_path }}img/exhibitions/artspaceforsale/4.jpg" alt="Auction" />
        <p class="figure-caption">Auction on the final night</p>
      </div>

<p>Matthew is explicit in his commercial intentions in this exhibition. On the final night of the show, the artist held an auction for the works to further exploit the commercial gain from the audience. The heightened atmosphere of the final night &ndash; in no small part due to the sponsored Sunrise beer &ndash; was very positive and, during the auction, even euphoric. All of the pieces were sold perhaps hinting at how good mood affects spending.</p>

<p>In the end, I bought a small placeholder piece which went for a very low &pound;7, although there was again a feeling that perhaps I was the butt of a joke &ndash; my attention had been exploited and now also my wallet. Nonetheless it is still hanging in my room as a reminder of how transitive, manufactured desires can cheat someone of their wealth.</p>


<div class="signed">Brendan Arnold, 2013</div>

    </div>
  </div>


  
{% endblock %}

