{% extends base_template %}

{% block title %}
Exhibitions by MATTHEW ROY ARNOLD
{% endblock %}

{% block inpagecss %}
{% endblock %}

{% block header %}
  {{ macros.standard_header(title='Exhibitions', type='Index', root_path=root_path) }}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}

    <div class="row">
      <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + "img/exhibitions_work_btn.jpg",
            url=root_path + "exhibitions/work.html",
            title="Work",
            caption='An examination of the sanctity and fragility of concept in a joint exhibtion containing works of <a href="' + root_path + 'works/index.html#selfportraits">Outsourced Self Portraits</a> and <a href="' + root_path + 'works/index.html#ideasforsale">Ideas for Sale</a>. Took place at the Motorcycle Flashparade, Bristol.') }}
      </div>

      <div class="small-12 large-6 columns">
      {{ macros.captioned_img(src=root_path + "img/exhibitions_artspaceforsale_btn.jpg",
            url=root_path + "exhibitions/artspaceforsale.html",
            title="Art Space for Sale",
            caption='An exhibtion of the works in the <a href="' + root_path + 'works/index.html#artspaceforsale">Art Space for Sale</a> series. Took place in a pop-up-gallery in a commercial premises.') }}
      </div>
    </div>


{% endblock %}
